body {
  font-family: 'Bitter', serif;
  font-weight: lighter;
  margin: 0px;
  color: #696969;
  background-color: white;
}
a {
  color: #00887a;
}

a:link {
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
a:hover {
  font-weight: normal;
  color: #696969;
}

#header {
  
  overflow: hidden;
  background-color: #f7fff0;
  font-weight: normal;
}

#header-navigation {
  float: right;
}
#navigation-options {
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  padding-top: 20px;
}
.navigation-option {
  display: inline;
  padding: 0px 10px 0px 10px;
}
#header-name {
  margin-left: 2%;
  float: left;
  padding: 20px;
  font-size: 24px;
}



#name-box {
  text-align: center;
  vertical-align: middle;
  background-color: #f0ffff;
  color: #696969;
  padding: 100px;
}
#heading-description {
  font-size: 25px;
}

#heading-name {
  font-size: 45px;
}

h1 {
  color: #00887a;
}
#about_me {
  padding-top: 50px;
  padding-bottom: 75px;
  font-weight: normal;
  font-size: 25px;
}



#projects{
  border-top-style: dotted;
  border-color: #696969;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 75px; 
}

#project-boxes{
  padding-top: 50px; 
}
.project-box{
  height: 300px; 
  width: 300px; 
  text-align: center; 
  border-style:solid; 
  border-color: #696969;
  border-width: 1px;
  background-image: url("https://image.freepik.com/free-vector/background-of-coming-soon-with-a-clock_1017-5059.jpg"); 
  background-size: 100% 100%; 
 
}

.project-box:hover{
  border-width: 2px;
}

.project-row{
  padding-bottom: 80px;
}
#contact-me{
  border-top-style: dotted;
  border-color: #696969;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 75px;
}

#experience{
  border-top-style: dotted;
  border-color: #696969;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 75px;
}

#bible-verse {
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  color: #696969;
}

#social-media-buttons-footer a, #social-media-buttons-header a{
  font-size: 36px; 
  text-align: center;
  color: #696969;
  
}
#social-media-buttons-footer, #social-media-buttons-header{
  font-size: 36px; 
  text-align: center;
  color: #696969;
  
}


#signature {
  font-size: 12px;
  text-align: center;
  color: #696969;
}

.project-description ul{
}