

body{
  font-family: 'Neuton', serif;
 background: url("https://static.pexels.com/photos/513270/pexels-photo-513270.jpeg") no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;

}


#name-block {
  margin-top: 100px; 
}

#picture {
  height: 400px;
  padding:1px;
   border:3px solid #fffbc4;
  
  
}
.text {
  color: #fff691; 
}

div.transbox {
  width: 50%; 
  
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=50); 
  margin: auto;
  padding-bottom: 20px; 
}

div.transbox p {
  padding-left: 20px; 
  padding-right: 20px; 
  text-align: left; 
  color: #000000;
}

h2{
  padding: 10px; 
  
}
a{
  color: #000000; 
  text-decoration: none; 
   background-color: none;
}

h6{
  padding: 20px; 
}

